@model IEnumerable<Website.Models.Job>

@{
    ViewBag.Title = "الوظائف";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("اضافة", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameAr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDescriptionAr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDescriptionEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameAr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameEn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescriptionAr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescriptionEn)
        </td>
        <td>
            @(item.ExpirationDate.HasValue?item.ExpirationDate.Value.ToString("dd-MM-yyyy"):"")
        </td>
       
        <td>
            @Html.ActionLink("تعديل", "Edit", new { id=item.Id }) |
            @Html.ActionLink("حذف", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
