@model IEnumerable<Website.Models.JobUsers>

@{
    ViewBag.Title = "المتقدمين للوظائف";
}

<h2>@ViewBag.Title</h2>


<table class="table">
    <tr>
        <th>
            الوظيفة
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            C.V
        </th>
        <th>
            تاريخ التقديم
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.CV))
                {
                    <text>
                        <a href="@Url.Action("OpenCV", "JobUsers"  , new { reqId = item.Id})" target="_blank"> فتح السيرة الذاتية </a>
                    </text>
                }

            </td>
            <td>
                @item.CreatedOn.Value.ToString("dd MMMM yyyy")
            </td>

        </tr>
    }

</table>
